* {
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}



h2:hover {
    color: #4F95CB !important;
}

h3:hover {
    color: #B52759 !important;
}

.ti-comment {
    color: black;
}