.khoi {
    width: 200px;
    height: 200px;
    background-color: violet;
    border-radius: 50%;
    animation: dandu 1s infinite;
    /* tên hiệu ứng  - thời gian chạy  - số lần chạy */
    /* forwards 1 lần */
    /* infinite : nhiều lần chạy  */
}

@keyframes dandu {
    0% {
        transform: scale(0.1);
        /* //0.1 = zoom 10% */
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.01);
    }

    /* or from - to */
}

.khoi2 {
    width: 300px;
    height: 150px;
    border: 2px solid red;
    text-align: center;
    animation: bg 2s infinite;
}

.khoi2 .nd {
    padding-top: 60px;
    font-size: 40px;
    animation: active 1s infinite;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes bg {
    0% {
        background-color: violet;
    }

    100% {
        background-color: blue;
    }
}

@keyframes active {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        color: white;
        transform: scale(1);
    }
}